.vscode
*__pycache__
merge_cgc.py

# directories
cache/
dataset/
exp_output/
test_run_del
test.txt

# checkpoint paths
*.npz
*.png
*.log
heihei_del
nohup.out
file.txt
res
res1
merge_cgc.py
*.jpg
*.pdf
less
pretrained/
samples
logs


aaa.py
aaa_del.py
crc_slice
els-cas-templates.zip
gen_bach
gen_bach_json
gen_bach_test
gen_withtypes_prostate
iiiii/
json_reader.py
ooooo/
splittt.py
tttt